@import url('https://fonts.googleapis.com/css2?family=Anton&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;    
}

#game-title {
    background-color: #22718F;
    font-family: Anton, sans-serif;
    font-size: 200%;
    color: #7AAFC6;
    letter-spacing: 6px;
    height: auto;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#main-area {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #7AAFC6;
    height: auto;
    width: 100%;
    text-align: center;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    background-color: #22718F;
}

footer {
    background-color: #22718F;
    font-family: Anton, sans-serif;
    font-size: 200%;
    color: #7AAFC6;
    letter-spacing: 6px;
    height: auto;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
